<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h1 class="header page-title">Admin page</h1>
		<hr>
	</div>
</div>

<div class="row">
	<div class="col-md-6 col-md-offset-3 links-nav">
		<%= link_to 'Send out announcement', admin_send_mail_path, :class => "no-link-bg" %>
		<hr>
	</div>
</div>

<div class="row">
	<div class="col-md-6 col-md-offset-3 links-nav">
		<%= link_to 'View announcement statistics -- not yet implemented', admin_statistics_path, :class => "no-link-bg" %>
		<hr>
	</div>
</div>

<div class="row">
	<div class="col-md-6 col-md-offset-3 links-nav">
		<%= link_to 'Administrative panel -- not yet implemented', admin_panel_path, :class => "no-link-bg" %>
		<hr>
	</div>
</div>