<!DOCTYPE html>
<html>
  <head>
  	<meta content='text/html charset=UTF-8' http-equiv='Content-Type' />
  	<style>
  	  h1 { text-align: center; font-weight: 300;}
  	  p { text-align: left; }
  	</style>
  </head>
  <body>
  	<div class="body">
  	  <h1>Need To Know</h1>
  	  <p><%= @an.needToKnow %></p>
  	  <h1>Additional Info</h1>
  	  <p><%= @an.extra %></p>
    </div>
  </body>
</html>