<p id="notice"><%= notice %></p>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h1 class="header page-title">Nursing@Penn</h1>
		<hr>
	</div>
</div>

<div class="row">
	<div class="col-md-6 col-md-offset-3 links-nav">
		<%= link_to 'Inbox', nursing_activities_inbox_path, :class => "no-link-bg" %>
		<hr>
	</div>
</div>